@media (orientation: portrait) {
  .featured {
    padding-top: 60rem;
  }
  .scroll__products::-webkit-scrollbar {
    display: none;
  }
  .trending {
    flex-direction: column;
  }
  .just__in {
    position: static;
    margin-top: 1rem;
  }
  .Deals .scroll__products::-webkit-scrollbar {
    display: none;
  }
}
